<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTeamFresh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <iTeamFresh.Properties.Settings>
            <setting name="indicator_com" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="indicator_buadeRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="indicator_protoсol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IO_com" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="IO_budeRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="IO_protoсol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="indicator_time_stab" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="indicator_protocol" serializeAs="String">
                <value>rr</value>
            </setting>
            <setting name="IO_device" serializeAs="String">
                <value>rr</value>
            </setting>
            <setting name="path_DB" serializeAs="String">
                <value>rr</value>
            </setting>
        </iTeamFresh.Properties.Settings>
    </userSettings>
</configuration>